body {
    /* רקע */
    background-color: #090d12;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
    background-image:url(johnny-pizza.jpg) ;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: rgb(160, 212, 187);
    font-size: 36px;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.frame {
    background-color: rgba(125, 161, 134, 0.818);
    width: 90%;
    max-width: 300px;
    min-height: 500px;
    margin: auto;
    border-radius: 5px;
    padding: 12px;
}

.field {
    padding: 8px;
}

.field input,
.field select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    font-size: 18px;
    padding: 8px;
    background-color: #5e9c99;
    color: rgb(0, 0, 0);
    border: 0;
    border-radius: 5px;
    margin-top: 12px;
}

textarea {
    min-height: 100px;
}